/* Index */

/* Portada Index */

.box-img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
}

.wrapper-info {
    background-color: rgb(246, 162, 191, 30%);
}

.informacion ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 16px;
    text-align: center;
}

.informacion li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 16px;
}

@media (max-width:768px) {

    .informacion ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        padding: 8px;
    }

    .informacion h3 {
        font-size: 14px;
        text-align: center;
    }

    .informacion h6 {
        font-size: 12px;
        text-align: center;
    }
}

.destacados h2 {
    color: black;
    text-align: center;
    padding: 16px;
}

.destacados span {
    font-size: 2rem;
}

/* Tarjeta de productos */

.tarjeta {
    border: 2px solid black;
    width: 250px;
    border-radius: 15px;

    overflow: hidden;

    flex-basis: 150px;
    flex-shrink: 0;
}

.tarjeta img {
    padding: .5rem;
    border-radius: 1rem;
}

.tarjeta h3 {
    font-size: 100%;
    text-align: center;
}

.tarjeta-cuerpo {
    border-top: 2px solid black;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.tarjeta-cuerpo a {
    background-color: $color-base;
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
}

/* Carrusel Tarjetas */

.carrusel-destacados {
    gap: 16px;
    padding: 16px;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;

    overflow: auto;
}

@media (max-width:830px) {

    .tarjeta {
        width: 100px;
    }

    .carrusel-destacados {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Productos-Index*/

.img-prod {
    border-radius: 16px
}

.normal-article {

    background-color: rgb(246, 162, 191, 30%);
    border-radius: 16px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;

    gap: 1rem;
}

.normal-article div {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.normal-article p {
    text-align: center;
}

.diff-article {
    background-color: rgb(246, 162, 191, 30%);
    border-radius: 16px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 1rem;
}

.diff-article div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.diff-article p {
    text-align: center
}

.separar-productos {
    padding: 2rem 6rem
}

.btn {
    background-color: rgb(0, 0, 0, 15%);
    border-radius: 1rem;
}

.btn a {
    text-decoration: none;
    color: black;
}

@media (max-width: 768px) {

    .normal-article {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: center;
        width: 360px;
    }

    .normal-article div {
        align-items: center;
    }

    .normal-article p {
        text-align: center;
        font-size: 12px;
    }

    .diff-article {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        width: 360px;
    }

    .diff-article div {
        align-items: center;
    }

    .diff-article p {
        text-align: center;
        font-size: 12px;
    }

    .separar-productos {
        display: grid;
        justify-content: center;
    }
}