* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amiko", sans-serif;
}

a {
  text-decoration-style: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Index */
/* Portada Index */
.box-img {
  height: 60vh;
  width: 100%;
}

.wrapper-info {
  background-color: rgba(246, 162, 191, 0.3);
}

.informacion ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 16px;
  text-align: center;
}

.informacion li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 16px;
}

@media (max-width: 768px) {
  .informacion ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 8px;
  }
  .informacion h3 {
    font-size: 14px;
    text-align: center;
  }
  .informacion h6 {
    font-size: 12px;
    text-align: center;
  }
}
.destacados h2 {
  color: black;
  text-align: center;
  padding: 16px;
}

.destacados span {
  font-size: 2rem;
}

/* Tarjeta de productos */
.tarjeta {
  border: 2px solid black;
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
  flex-basis: 150px;
  flex-shrink: 0;
}

.tarjeta img {
  padding: 0.5rem;
  border-radius: 1rem;
}

.tarjeta h3 {
  font-size: 100%;
  text-align: center;
}

.tarjeta-cuerpo {
  border-top: 2px solid black;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.tarjeta-cuerpo a {
  background-color: #f6a2bf;
  color: white;
  padding: 8px 10px;
  border-radius: 10px;
}

/* Carrusel Tarjetas */
.carrusel-destacados {
  gap: 16px;
  padding: 16px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: auto;
}

/* Productos-Index*/
.img-prod {
  border-radius: 16px;
}

.normal-article {
  background-color: rgba(246, 162, 191, 0.3);
  border-radius: 16px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 1rem;
}

.normal-article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.normal-article p {
  text-align: center;
}

.diff-article {
  background-color: rgba(246, 162, 191, 0.3);
  border-radius: 16px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 1rem;
}

.diff-article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.diff-article p {
  text-align: center;
}

.separar-productos {
  padding: 2rem 6rem;
}

.btn {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
}

.btn a {
  text-decoration: none;
  color: black;
}

@media (max-width: 768px) {
  .normal-article {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    width: 360px;
  }
  .normal-article div {
    align-items: center;
  }
  .normal-article p {
    text-align: center;
    font-size: 12px;
  }
  .diff-article {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    width: 360px;
  }
  .diff-article div {
    align-items: center;
  }
  .diff-article p {
    text-align: center;
    font-size: 12px;
  }
  .separar-productos {
    display: grid;
    justify-content: center;
  }
}
/* Pagina Quienes Somos */
.background-qs {
  background-image: url(../img-originales/pexels-india.jpg);
  background-position: center;
  color: aliceblue;
}

.wrapper-qs img {
  border-radius: 16px;
}

.normal-qs {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: 1rem;
}

.normal-qs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.diff-qs {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 1rem;
}

.diff-qs div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (max-width: 768px) {
  .normal-qs {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }
  .normal-qs div {
    align-items: center;
  }
  .normal-qs p {
    text-align: center;
    font-size: 12px;
  }
  .diff-qs {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
  }
  .diff-qs div {
    align-items: center;
  }
  .diff-qs p {
    text-align: center;
    font-size: 12px;
  }
}
/* Pagina Contacto */
.wrapper-contact {
  background-color: rgba(246, 162, 191, 0.3);
}

.contactanos {
  padding: 1rem;
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.wrapper-input,
.wrapper-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .form-index {
    padding: 0 1rem 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
  }
  .form-index h2 {
    grid-column: span 2;
  }
  .wrapper-textarea {
    grid-column: span 2;
  }
  .wrapper-textarea textarea {
    width: 100%;
  }
  .wrapper-input input {
    width: 100%;
  }
  .wrapper-input,
  .wrapper-textarea {
    align-items: start;
    gap: 0.5rem;
  }
}
.wrapper-sucursal {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1rem;
}

.wrapper-sucursal div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 768px) {
  .wrapper-sucursal {
    display: flex;
    flex-direction: column;
  }
  .wrapper-sucursal div {
    align-items: start;
  }
}
/* Pagina Preguntas Frecuentes */
.title-preg {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  color: black;
}

.title-preg h4 {
  padding-left: 4rem;
  font-size: 1.5rem;
}

.title-preg a {
  color: black;
}

.cont-preguntas {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.cont-preguntas h3 {
  font-size: 1.5rem;
  color: #f6a2bf;
}

.cont-preguntas p {
  padding-left: 2rem;
  color: black;
}

/* Pagina Productos */
.title-productos {
  text-align: center;
  padding: 2rem;
}

.title-productos span {
  font-size: 3rem;
}

.subtitle-productos {
  text-align: center;
  padding: 1.5rem;
}

.subtitle-productos span {
  font-size: 2rem;
  background-color: rgba(246, 162, 191, 0.3);
  border-radius: 16px;
}

.categorias {
  display: flex;
  flex-direction: column;
  justify-content: start;
  float: left;
  padding: 1rem 3rem;
  background-color: rgba(246, 162, 191, 0.3);
  border-radius: 16px;
}

.categorias a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1050px) {
  .cont-categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .categorias h4 {
    font-size: 16px;
  }
  .categorias li {
    font-size: 14px;
  }
}
.wrapper-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.all-productos {
  display: flex;
  flex-direction: column;
}

.productos {
  gap: 16px;
  padding: 16px;
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: scroll;
}

.tarjeta h3 {
  text-align: center;
}

/* Footer */
footer {
  background-color: rgba(246, 162, 191, 0.3);
  display: flex;
  padding: 0rem 1rem;
}

footer img {
  width: 2rem;
  padding-left: 1rem;
}

/*# sourceMappingURL=styles.css.map */
